* {
    box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

body {
	background-color: beige;
}

#banner {
	text-align: center;
	background-color: bisque;
	margin: 0;
	padding: 20px;
	font-size: 2em;
	box-shadow: 0 10px 10px -10px grey;
}

#mainFoot {
	clear:both;
	text-align:center;
	padding:20px;
	border-top:solid 1px;
	background-color:bisque;
	margin-top:20px;
}

main {
	margin-top: 20px;
	padding: 20px;
}

.code {
	width: 100%;
	max-width: 700px; 
	border: 1px solid #000000;
	word-wrap: break-word;
	background-color: lightgreen;
}
.wrap {
	width: 100%;
	word-wrap: break-word;
}

table {
	margin-bottom: 15px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

th {
	background-color: bisque;
}

td {
	background-color: lightgreen;
	text-align: center;
}

.center {
	text-align:center;
}

.one {
	margin-left: 2em;
}

#column {
	list-style-position: inside;
	margin: 0;
	padding: 0;
}

aside {
	background-color: lightgreen;
	padding: 10px;
	margin: 10px;
	width: 300px;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
}

nav li {
	display: inline-block;
	font-size: 1.5em;
}

nav a {
	display: inline-block;
	text-decoration: none;
	padding: 17px;
	text-align: center;
}



nav a:hover {
	background-color: grey;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 200px;
}
.dropdown-content a {
	color: white;
	padding: 1em;
	text-decoration: none;
	display: block;
	text-align: left;
}
.dropdown-content a:hover {
	background-color: grey;
	color: white;
}

.show {
	display: block;
	position: absolute;
	background-color: black;
	min-width: 200px;
}

@media only screen and (max-width: 499px) {
	#banner {
		padding: 10px;
		font-size: 1.5em;
	}
	main {
		margin-top: 10px;
		padding: 5px;
	}
	th, td {
    		padding: 0;
	}
	.hideShow {
		position: absolute;
		clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
		clip: rect(1px, 1px, 1px, 1px);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
}

@media only screen and (min-width: 500px) {
	th, td {
    padding: 10px;
	}
	.dropdown {
		position: absolute;
		clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
		clip: rect(1px, 1px, 1px, 1px);
		padding: 0;
		border: 0;
		height: 1px;
		width: 1px;
		overflow: hidden;
	}
}

@media only screen and ( max-width: 510px) {
	#column {
    		-webkit-column-count: 2; /* Chrome, Safari, Opera */
    		-moz-column-count: 2; /* Firefox */
    		column-count: 2;
	}
}

@media only screen and (min-width: 510px) and (max-width: 630px) {
	#column {
    	-webkit-column-count: 3; /* Chrome, Safari, Opera */
    	-moz-column-count: 3; /* Firefox */
    	column-count: 3;
	}
}

@media only screen and (min-width: 630px) and (max-width: 780px) {
	#column {
    	-webkit-column-count: 4; /* Chrome, Safari, Opera */
    	-moz-column-count: 4; /* Firefox */
    	column-count: 4;
	}
}

@media only screen and (min-width: 780px) {
	#column {
    	-webkit-column-count: 5; /* Chrome, Safari, Opera */
    	-moz-column-count: 5; /* Firefox */
    	column-count: 5;
	}
}


/* 	This should be used to hide non-interactive content.*/
.offscreen
{
position: absolute;
clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
clip: rect(1px, 1px, 1px, 1px);
padding: 0;
border: 0;
height: 1px;
width: 1px;
overflow: hidden;
}
/* 	EXAMPLE: 	<h1 class="offscreen">This text is hidden.</h1> 
				Allows for an h1 outline on the page without displaying the content.*/

/* This should be used to hide interactive content. */
a.offscreen
{
position: absolute;
clip: rect(1px 1px 1px 1px); /* for Internet Explorer */
clip: rect(1px, 1px, 1px, 1px);
padding: 0;
border: 0;
height: 1px;
width: 1px;
overflow: hidden;
}

a.offscreen:focus
{position:relative;
clip:auto;
width:auto;
height:auto;
overflow:auto;
}

/* 	EXAMPLE:	<a class="offscreen" href="test.html">this link is offscreen unless it has focus</a> */
